Core/Outside Temp/outside.json
[
    {
        "id": "a8c8def2f28327fa",
        "type": "comment",
        "z": "d803d56faae81c01",
        "name": "Changes Outside Temperature Input Select",
        "info": "",
        "x": 180,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3a8f54c1da1f1042",
        "type": "inject",
        "z": "d803d56faae81c01",
        "name": "Half hour Update",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "72b3ecc75f7f4825"
            ]
        ]
    },
    {
        "id": "dc31a2774eb96c8c",
        "type": "switch",
        "z": "d803d56faae81c01",
        "name": "",
        "property": "data.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "7",
                "vt": "num",
                "v2": "15",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "15",
                "vt": "num",
                "v2": "23",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "23",
                "vt": "num",
                "v2": "32",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "32",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 415,
        "y": 1040,
        "wires": [
            [
                "25af235e1b7f1bd0"
            ],
            [
                "115d17f37250d0c8"
            ],
            [
                "e81d057fd220f66d"
            ],
            [
                "3881900e369dbc35"
            ],
            [
                "c84801198470caf7"
            ]
        ],
        "l": false
    },
    {
        "id": "25af235e1b7f1bd0",
        "type": "change",
        "z": "d803d56faae81c01",
        "name": "Cold",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Cold",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 960,
        "wires": [
            [
                "d6e3e573fa6e14ed"
            ]
        ]
    },
    {
        "id": "115d17f37250d0c8",
        "type": "change",
        "z": "d803d56faae81c01",
        "name": "Cool",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Cool",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "d6e3e573fa6e14ed"
            ]
        ]
    },
    {
        "id": "e81d057fd220f66d",
        "type": "change",
        "z": "d803d56faae81c01",
        "name": "Warm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Warm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "d6e3e573fa6e14ed"
            ]
        ]
    },
    {
        "id": "3881900e369dbc35",
        "type": "change",
        "z": "d803d56faae81c01",
        "name": "Hot",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hot",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1080,
        "wires": [
            [
                "d6e3e573fa6e14ed"
            ]
        ]
    },
    {
        "id": "c84801198470caf7",
        "type": "change",
        "z": "d803d56faae81c01",
        "name": "Very Hot",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Very Hot",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1120,
        "wires": [
            [
                "d6e3e573fa6e14ed"
            ]
        ]
    },
    {
        "id": "d6e3e573fa6e14ed",
        "type": "api-call-service",
        "z": "d803d56faae81c01",
        "name": "Outside Temperature Input_Select",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.outside_temperature"
        ],
        "data": "{\"option\":\"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 800,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "72b3ecc75f7f4825",
        "type": "api-current-state",
        "z": "d803d56faae81c01",
        "name": "Weather",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.feels_like_temp",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "dc31a2774eb96c8c"
            ]
        ]
    }
]