HVAC/Climate control/climateControl.json
[
    {
        "id": "f158566cef9120c8",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Very Hot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Hot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Warm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cool",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cold",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 1745,
        "y": 1000,
        "wires": [
            [
                "1c8004cfe22686f3"
            ],
            [
                "c4353787a90f27ce"
            ],
            [
                "2cd5f538d579a940"
            ],
            [
                "c188832bfccd03c8"
            ],
            [
                "8ea7d9620dc71132"
            ]
        ],
        "l": false
    },
    {
        "id": "307b3290def489af",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Outside Climate",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.outside_temperature",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1620,
        "y": 1000,
        "wires": [
            [
                "f158566cef9120c8"
            ]
        ]
    },
    {
        "id": "c316671ee884014a",
        "type": "inject",
        "z": "e2e746bc49fb34e0",
        "name": "15m",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 960,
        "wires": [
            [
                "f07e11acdad7571d"
            ]
        ]
    },
    {
        "id": "64074ca9bdab256e",
        "type": "server-state-changed",
        "z": "e2e746bc49fb34e0",
        "name": "Inside Temp",
        "server": "",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "climate.thermostat",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "f07e11acdad7571d"
            ]
        ]
    },
    {
        "id": "bf25da38c14ec3f2",
        "type": "server-state-changed",
        "z": "e2e746bc49fb34e0",
        "name": "Doors/Windows Open?",
        "server": "",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.doors_and_windows",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "1",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 1360,
        "wires": [
            [],
            [
                "f07e11acdad7571d"
            ]
        ]
    },
    {
        "id": "9eb5aa2f34f466ae",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Doors/Windows Open",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.doors_and_windows",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 620,
        "y": 980,
        "wires": [
            [
                "b7e4f8e737431339"
            ],
            [
                "de59f85a7d3b423b"
            ]
        ]
    },
    {
        "id": "fdeb7b1ec083fe14",
        "type": "server-state-changed",
        "z": "e2e746bc49fb34e0",
        "name": "House Occupied",
        "server": "",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.someone_home",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "f07e11acdad7571d"
            ]
        ]
    },
    {
        "id": "a261ae03b4139ce2",
        "type": "comment",
        "z": "e2e746bc49fb34e0",
        "name": "Thermostat Temperature Adjustments",
        "info": "",
        "x": 230,
        "y": 920,
        "wires": []
    },
    {
        "id": "f07e11acdad7571d",
        "type": "delay",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 430,
        "y": 960,
        "wires": [
            [
                "9eb5aa2f34f466ae",
                "4f96e01dd17ba163"
            ]
        ]
    },
    {
        "id": "d007c567782f06d0",
        "type": "server-state-changed",
        "z": "e2e746bc49fb34e0",
        "name": "Thermostat Override",
        "server": "",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.thermostat_override",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 1180,
        "wires": [
            [
                "f07e11acdad7571d"
            ]
        ]
    },
    {
        "id": "3f4c33152376f0a1",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "House Occupied?",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.someone_home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1410,
        "y": 1040,
        "wires": [
            [
                "307b3290def489af"
            ],
            [
                "ba060aab1b3b732e"
            ]
        ]
    },
    {
        "id": "6f772a3035315015",
        "type": "inject",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "307b3290def489af"
            ]
        ]
    },
    {
        "id": "3e866ee54423bf1e",
        "type": "server-state-changed",
        "z": "e2e746bc49fb34e0",
        "name": "Guest Mode Boolean",
        "server": "",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.guest_mode",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "f07e11acdad7571d"
            ]
        ]
    },
    {
        "id": "5f9a71b2809f205f",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool 20",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "20",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 820,
        "wires": [
            [
                "c25f4d62c2b854e8"
            ]
        ]
    },
    {
        "id": "a6d76713732236c6",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Set HVAC Mode",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_hvac_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.thermostat"
        ],
        "data": "{\"hvac_mode\":\"{{set_hvac_mode}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8cbeda3e78673efb",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Set Temp",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_temperature",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.thermostat"
        ],
        "data": "{\"temperature\":\"{{set_temp}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 590,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a59e820fee224bc2",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Turn OFF HVAC",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.thermostat"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 220,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f344f7f12381b7d2",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Heat 22",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "22",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 1220,
        "wires": [
            [
                "bec1cd3c6dc7e904"
            ]
        ]
    },
    {
        "id": "bdd38ddd84bb9505",
        "type": "link in",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "links": [
            "bf9042d36549eeea",
            "1ee3a306.5db3ad",
            "78282eb9.674d7",
            "9b7a3b01.a6c578",
            "3c70bc2.2718d44",
            "bbbc8a46.483128",
            "bec1cd3c6dc7e904",
            "483a91b48a3044b1",
            "ceffe031.b01ec",
            "d1cebdae.2c1ad",
            "1b89f20a.55b67e",
            "eebce04a.08d8b",
            "c25f4d62c2b854e8",
            "759032a3.5cbd7c",
            "4c3e572c.fc4be8",
            "56ff69be.8c6d38",
            "a8d8b925.34ddf8",
            "7eff1814.58c3b8",
            "453b77fa.225928",
            "e777c88.2c2ab38",
            "5638d94ba5fd9211",
            "6ef6a2a1.aef70c",
            "7e21b2f0.9b4f4c",
            "7956f6e4.68b698",
            "70cddcaf.950054",
            "a0b20e38736fbeb2",
            "781dc0eb.7a20c",
            "b884f4c3.662018",
            "d09e38d6.00da58",
            "61dfda14.286494",
            "f32e5f36.afede",
            "69c96ca0.c8e8c4",
            "5becfb82.bb1df4",
            "333700d9.1a901",
            "a00f4917.6c93f8",
            "90ada84a.0e31c8",
            "85d9fa4d.c776b8",
            "fe5747d6.47e748",
            "c4a1077e.9a6d28",
            "d5cb5dde.a4351",
            "4399b6a6.a42f48",
            "8397bf68.68a52",
            "8cf319b4.dfaeb8",
            "2568dc54.f39144",
            "9d99ae68.66e4e",
            "3f370110.4d27ce",
            "5ad501f1.9d2a9",
            "374bf29e.fccbfe",
            "6f18fac7.f981b4",
            "f1d76753.16af08",
            "41b9c3bf.aa691c",
            "e16ba25c.308f3",
            "bb5b9489.c25f38",
            "77fb5939.aa5e38",
            "cc510e02.16fae",
            "7554d59e.8869ac",
            "caadc9fb.15ba78",
            "2099191b.f79a56",
            "3e2cd7a8.f2b7d8",
            "ada54966.736bb8",
            "eb8e2494.a58f48",
            "de47a0b.399bb6",
            "f2a770fa.04905",
            "41c9298b.5ad498",
            "11eb3203.fb5fbe",
            "fa4f77f7.765eb8",
            "ba0dabb9.3f4448",
            "2c638dc2.ae2ad2",
            "99570758.7c5da8",
            "4a8ee260.0c398c",
            "85971efe.a8506",
            "d30bc314.bdbbf",
            "9856868a.e6b8d8",
            "3910333bc71a550e",
            "7440c03.c8ec64",
            "b5114b3799fb7a24",
            "39d7b11cbbbabf55",
            "e3fa61cc853aeb9b",
            "7dfa4edbf65316ba",
            "8ddcbef18fed5184",
            "191b5135602ae760",
            "4713c50c54363d31",
            "e20c9c0e20603ff2",
            "be68b79960b2a734",
            "6141ac61393d9864",
            "3437f1e2e87a503e",
            "6be55170be9b49fc",
            "aca00938a354fd75",
            "c63d6659ee3bfdb6",
            "20a20e28e002423e",
            "10590bb9eeaf047b",
            "df0f65f3c10472b6",
            "d45a8a6c9141a5b9",
            "a8afdd1777408079",
            "ac386f0ff8fedf06",
            "7deb02328838156b",
            "1bfeb3d7d0180451",
            "c52c212728f90c0f",
            "95b8bb797d7c9948",
            "b610eabc2e5e1a44",
            "c1699c686849f4cb",
            "556a9748ba1c3001",
            "dcd928765cdb89fa",
            "22b9ad358b0e953b",
            "c2313de3d92a5985",
            "c7a75598cdbbdd83",
            "26e18191886c2942",
            "e950e33006a28b2b",
            "f8941ffb9d39e84b",
            "664a68671d242165"
        ],
        "x": 95,
        "y": 440,
        "wires": [
            [
                "a461ed23a11a9577"
            ]
        ]
    },
    {
        "id": "bec1cd3c6dc7e904",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "links": [
            "bdd38ddd84bb9505"
        ],
        "x": 2405,
        "y": 1280,
        "wires": []
    },
    {
        "id": "27d8ee1511f19371",
        "type": "link in",
        "z": "e2e746bc49fb34e0",
        "name": "HVAC OFF",
        "links": [
            "c044c2bd699ecf48",
            "c9cfaafa.2def08",
            "f2663f6f.06434",
            "d2a78ca7afa892ea",
            "7f2c6076.a9756",
            "48c54178.3b377",
            "ee0585b3.eb7918",
            "47b481c3.a0783",
            "63f30795.20bb48",
            "c7591cfa.e932a",
            "3bd49ddc.aadb22",
            "4f8b67ed.ce3668",
            "8e1cff69.f883c",
            "caab8cb2.7a0b9",
            "23a4cc8a.30d104",
            "ececc6a6927bbaf5",
            "e48f1633d43abe8e",
            "8ab32ff912e95a66",
            "ad4e0ffa5fc54b8d",
            "7981b1191048f8a7",
            "49bc101cbe981e97",
            "d923559469f3808e",
            "91aebf6531b658f4",
            "3da9b104c4f693ea",
            "607e40bf3cc67c63",
            "0bc447e2321ccde5",
            "9cf805e2ae7b1573",
            "39947bb556412e1f",
            "4ffb0efe6d877101",
            "da7c98aa86381e36",
            "b7e4f8e737431339",
            "635bfe87f45ac12f",
            "f6dfdd54446e4c55",
            "8866ebd1bc80dd34",
            "efe193cabac768cc"
        ],
        "x": 95,
        "y": 580,
        "wires": [
            [
                "a59e820fee224bc2"
            ]
        ]
    },
    {
        "id": "c25f4d62c2b854e8",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "mode": "link",
        "links": [
            "bdd38ddd84bb9505"
        ],
        "x": 2115,
        "y": 780,
        "wires": []
    },
    {
        "id": "2368592da20ba132",
        "type": "delay",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "pauseType": "delay",
        "timeout": "750",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "8cbeda3e78673efb"
            ]
        ]
    },
    {
        "id": "4c795cdc0e592971",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Guest Mode",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guest_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1230,
        "y": 1020,
        "wires": [
            [
                "d09dd6d6bd324f98"
            ],
            [
                "3f4c33152376f0a1"
            ]
        ]
    },
    {
        "id": "8ea7d9620dc71132",
        "type": "time-range-switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "06:00",
        "endTime": "21:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 1940,
        "y": 1280,
        "wires": [
            [
                "aabcd5a5c84ea639"
            ],
            [
                "384299ac538537f3"
            ]
        ]
    },
    {
        "id": "7d77ba3b78c77dad",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Heat 20",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "20",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 1300,
        "wires": [
            [
                "bec1cd3c6dc7e904"
            ]
        ]
    },
    {
        "id": "384299ac538537f3",
        "type": "time-range-switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "21:00",
        "endTime": "23:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 2130,
        "y": 1320,
        "wires": [
            [
                "7d77ba3b78c77dad"
            ],
            [
                "889e72e0d40ec22a"
            ]
        ]
    },
    {
        "id": "889e72e0d40ec22a",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Heat 19",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "19",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 1340,
        "wires": [
            [
                "bec1cd3c6dc7e904"
            ]
        ]
    },
    {
        "id": "d65d46c8d5f1fe7f",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool 19",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "19",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 940,
        "wires": [
            [
                "c52c212728f90c0f"
            ]
        ]
    },
    {
        "id": "c52c212728f90c0f",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "mode": "link",
        "links": [
            "bdd38ddd84bb9505"
        ],
        "x": 2115,
        "y": 900,
        "wires": []
    },
    {
        "id": "a461ed23a11a9577",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "set_hvac_mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cool",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 145,
        "y": 440,
        "wires": [
            [
                "40081fcc0f8d8393",
                "a6d76713732236c6"
            ],
            [
                "a6d76713732236c6",
                "40081fcc0f8d8393"
            ],
            [
                "a6d76713732236c6",
                "4a9f2560ea91d5c2"
            ]
        ],
        "l": false
    },
    {
        "id": "3e47b79a905ec42f",
        "type": "server-state-changed",
        "z": "e2e746bc49fb34e0",
        "name": "Vacation Mode Boolean",
        "server": "",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.vacation_mode",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 1300,
        "wires": [
            [
                "f07e11acdad7571d"
            ]
        ]
    },
    {
        "id": "7a0704b2ab44c957",
        "type": "delay",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "pauseType": "delay",
        "timeout": "750",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "d0c2c5f9445368aa"
            ]
        ]
    },
    {
        "id": "d0c2c5f9445368aa",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Set Heat Cool Temp",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_temperature",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.thermostat"
        ],
        "data": "{\"target_temp_low\":\"{{set_temp_low}}\",\"target_temp_high\":\"{{set_temp_high}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 630,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "de59f85a7d3b423b",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Thermostat Override ON",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.thermostat_override",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "430d0c6bfe7cba11"
            ],
            [
                "e03356df8a419478"
            ]
        ]
    },
    {
        "id": "cb4756dfb08764e8",
        "type": "link in",
        "z": "e2e746bc49fb34e0",
        "name": "HVAC SAFETY CHECK",
        "links": [
            "b7e4f8e737431339",
            "430d0c6bfe7cba11",
            "9cf805e2ae7b1573",
            "f6dfdd54446e4c55",
            "8866ebd1bc80dd34",
            "635bfe87f45ac12f",
            "efe193cabac768cc"
        ],
        "x": 675,
        "y": 1140,
        "wires": [
            [
                "c3b1e56dcf581ab8",
                "e50c40af344c0ce0"
            ]
        ]
    },
    {
        "id": "b7e4f8e737431339",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "HVAC OFF",
        "mode": "link",
        "links": [
            "27d8ee1511f19371",
            "cb4756dfb08764e8"
        ],
        "x": 755,
        "y": 960,
        "wires": []
    },
    {
        "id": "e50c40af344c0ce0",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Inside <= 14",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "14",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "climate.thermostat",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "title",
                "propertyType": "msg",
                "value": "Indoor Temp Notification",
                "valueType": "str"
            },
            {
                "property": "message",
                "propertyType": "msg",
                "value": "There are windows or doors open and the heat is on, because it is 14 degrees inside.",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 790,
        "y": 1180,
        "wires": [
            [
                "028a74f98db645e5",
                "9447acac4bcb60a7"
            ],
            []
        ]
    },
    {
        "id": "c3b1e56dcf581ab8",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Inside >= 28.5",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "28.5",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "climate.thermostat",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "title",
                "propertyType": "msg",
                "value": "Indoor Temp Notification",
                "valueType": "str"
            },
            {
                "property": "message",
                "propertyType": "msg",
                "value": "There are windows or doors open and the AC is on, because it is 25 degrees inside.",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 800,
        "y": 1100,
        "wires": [
            [
                "028a74f98db645e5",
                "f3fe39af6e6b7fd1"
            ],
            []
        ]
    },
    {
        "id": "028a74f98db645e5",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Notify Parents",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_s22_ultra",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"{{title}}\",\"message\":\"{{message}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1040,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "430d0c6bfe7cba11",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "HVAC OFF",
        "mode": "link",
        "links": [
            "cb4756dfb08764e8"
        ],
        "x": 995,
        "y": 980,
        "wires": []
    },
    {
        "id": "fec707540ac5b2d1",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "House Temp",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.thermostat",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1450,
        "y": 680,
        "wires": [
            [
                "7c74f385a714134f"
            ]
        ]
    },
    {
        "id": "7c74f385a714134f",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "19",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "22.5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1555,
        "y": 680,
        "wires": [
            [
                "89b4e1315c7af6ef"
            ],
            [
                "4d80fcaab85ca85e"
            ],
            [
                "08895e5ca084a6d4"
            ]
        ],
        "l": false
    },
    {
        "id": "89b4e1315c7af6ef",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Heat",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650,
        "y": 640,
        "wires": [
            [
                "b1a0e5be19c8c068"
            ]
        ]
    },
    {
        "id": "4d80fcaab85ca85e",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Outside Climate",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.outside_temperature",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1680,
        "y": 680,
        "wires": [
            [
                "e1d62c8fb71458cb"
            ]
        ]
    },
    {
        "id": "e1d62c8fb71458cb",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Very Hot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Hot",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1795,
        "y": 680,
        "wires": [
            [
                "a70b3d39fdf9c105"
            ],
            [
                "a70b3d39fdf9c105"
            ],
            [
                "941b06e5efaf1860"
            ]
        ],
        "l": false
    },
    {
        "id": "dc4708d62857683e",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 620,
        "wires": [
            [
                "664a68671d242165"
            ]
        ]
    },
    {
        "id": "941b06e5efaf1860",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 700,
        "wires": [
            [
                "664a68671d242165"
            ]
        ]
    },
    {
        "id": "08895e5ca084a6d4",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "HVAC OFF",
        "mode": "link",
        "links": [],
        "x": 1615,
        "y": 720,
        "wires": []
    },
    {
        "id": "664a68671d242165",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "mode": "link",
        "links": [
            "bdd38ddd84bb9505"
        ],
        "x": 2125,
        "y": 660,
        "wires": []
    },
    {
        "id": "b1a0e5be19c8c068",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "mode": "link",
        "links": [
            "770ae4a101c3f5e5"
        ],
        "x": 1755,
        "y": 640,
        "wires": []
    },
    {
        "id": "d09dd6d6bd324f98",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Set mode Guest",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.thermostat_2"
        ],
        "data": "{\"preset_mode\":\"Guest\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1260,
        "y": 680,
        "wires": [
            [
                "fec707540ac5b2d1"
            ]
        ]
    },
    {
        "id": "c452db7d21a1c388",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Very Hot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Hot",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Warm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cool",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cold",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 2155,
        "y": 1460,
        "wires": [
            [
                "fe260d9a2bdf15ca"
            ],
            [
                "fe260d9a2bdf15ca"
            ],
            [
                "b35569e959eabc2f"
            ],
            [
                "b35569e959eabc2f"
            ],
            [
                "a530c1ab285704a6"
            ]
        ],
        "l": false
    },
    {
        "id": "516d044ccce58ad4",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Outside Climate",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.outside_temperature",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 2040,
        "y": 1460,
        "wires": [
            [
                "c452db7d21a1c388"
            ]
        ]
    },
    {
        "id": "ba060aab1b3b732e",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Vacation Mode OFF",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.vacation_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1640,
        "y": 1500,
        "wires": [
            [
                "0af6f1f589f45724"
            ],
            [
                "2ae63a55a2fc8342"
            ]
        ]
    },
    {
        "id": "8cc00a7e632d3387",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "17",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "24",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 2185,
        "y": 1620,
        "wires": [
            [
                "0b2d917c9d456a6a"
            ],
            [
                "ef2fe90c8621093b"
            ],
            [
                "98193e586979dee9"
            ]
        ],
        "l": false
    },
    {
        "id": "32797662fb8370f3",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "House Temp",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.thermostat",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 2080,
        "y": 1620,
        "wires": [
            [
                "8cc00a7e632d3387"
            ]
        ]
    },
    {
        "id": "0b2d917c9d456a6a",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Heat",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 1580,
        "wires": [
            [
                "b27d3e9b73392f61"
            ]
        ]
    },
    {
        "id": "ef2fe90c8621093b",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 1620,
        "wires": [
            [
                "b27d3e9b73392f61"
            ]
        ]
    },
    {
        "id": "b27d3e9b73392f61",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "links": [
            "770ae4a101c3f5e5"
        ],
        "x": 2385,
        "y": 1600,
        "wires": []
    },
    {
        "id": "76bbdc9ae6f3b7de",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "links": [
            "770ae4a101c3f5e5"
        ],
        "x": 2355,
        "y": 1400,
        "wires": []
    },
    {
        "id": "98193e586979dee9",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "HVAC OFF",
        "links": [
            "f3b7a1ec09ac8626"
        ],
        "x": 2245,
        "y": 1660,
        "wires": []
    },
    {
        "id": "a530c1ab285704a6",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Heat",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 1520,
        "wires": [
            [
                "dc2757ab7f178f2f"
            ]
        ]
    },
    {
        "id": "dc2757ab7f178f2f",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "links": [
            "770ae4a101c3f5e5"
        ],
        "x": 2355,
        "y": 1520,
        "wires": []
    },
    {
        "id": "fe260d9a2bdf15ca",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 1400,
        "wires": [
            [
                "76bbdc9ae6f3b7de"
            ]
        ]
    },
    {
        "id": "8a9bd21d993934d5",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Set mode away",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "select.thermostat_current_mode"
        ],
        "data": "{\"option\":\"away\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1860,
        "y": 1460,
        "wires": [
            [
                "516d044ccce58ad4"
            ]
        ]
    },
    {
        "id": "2ae63a55a2fc8342",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Set mode vacation",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.thermostat_2"
        ],
        "data": "{\"preset_mode\":\"Vacation\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1870,
        "y": 1540,
        "wires": [
            [
                "32797662fb8370f3"
            ]
        ]
    },
    {
        "id": "b35569e959eabc2f",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "HeatCool",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat_cool",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 1460,
        "wires": [
            [
                "c336502ec28b5998"
            ]
        ]
    },
    {
        "id": "c336502ec28b5998",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "links": [
            "770ae4a101c3f5e5"
        ],
        "x": 2375,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0f7e2fc61fe1c409",
        "type": "comment",
        "z": "e2e746bc49fb34e0",
        "name": "TODO: peak hours",
        "info": "add somekind of work day \ncheck and schedule peak \nto be off",
        "x": 1650,
        "y": 1460,
        "wires": []
    },
    {
        "id": "40081fcc0f8d8393",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "set_temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 315,
        "y": 460,
        "wires": [
            [
                "2368592da20ba132"
            ]
        ],
        "l": false
    },
    {
        "id": "4a9f2560ea91d5c2",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "set_temp_high",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 315,
        "y": 520,
        "wires": [
            [
                "7a0704b2ab44c957"
            ]
        ],
        "l": false
    },
    {
        "id": "0af6f1f589f45724",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Set mode away",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.thermostat_2"
        ],
        "data": "{\"preset_mode\":\"away\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1860,
        "y": 1420,
        "wires": [
            [
                "516d044ccce58ad4"
            ]
        ]
    },
    {
        "id": "aabcd5a5c84ea639",
        "type": "time-range-switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "07:00",
        "endTime": "20:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 2130,
        "y": 1240,
        "wires": [
            [
                "f344f7f12381b7d2"
            ],
            [
                "98436d7d17cf821e"
            ]
        ]
    },
    {
        "id": "98436d7d17cf821e",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Heat 21",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "21",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 1260,
        "wires": [
            [
                "bec1cd3c6dc7e904"
            ]
        ]
    },
    {
        "id": "50ee2c7c9b262f44",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool 23",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "23",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 780,
        "wires": [
            [
                "c25f4d62c2b854e8"
            ]
        ]
    },
    {
        "id": "07d2c183b0b9ec77",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool 23.5",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "23.5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 740,
        "wires": [
            [
                "c25f4d62c2b854e8"
            ]
        ]
    },
    {
        "id": "4f96e01dd17ba163",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "link out 60",
        "mode": "link",
        "links": [
            "2d16ac585c16d0b2"
        ],
        "x": 535,
        "y": 940,
        "wires": []
    },
    {
        "id": "1c8004cfe22686f3",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "eleccost",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ultra High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mid",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Weekend",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Low",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Ultra Low",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1875,
        "y": 780,
        "wires": [
            [
                "635bfe87f45ac12f"
            ],
            [
                "07d2c183b0b9ec77"
            ],
            [
                "50ee2c7c9b262f44"
            ],
            [
                "50ee2c7c9b262f44"
            ],
            [
                "5f9a71b2809f205f"
            ],
            [
                "5f9a71b2809f205f"
            ]
        ],
        "l": false
    },
    {
        "id": "c4353787a90f27ce",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "eleccost",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ultra High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mid",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Weekend",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Low",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Ultra Low",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1875,
        "y": 900,
        "wires": [
            [
                "8866ebd1bc80dd34"
            ],
            [
                "955df56fea433bed"
            ],
            [
                "c6f342d885deb388"
            ],
            [
                "c6f342d885deb388"
            ],
            [
                "d65d46c8d5f1fe7f"
            ],
            [
                "d65d46c8d5f1fe7f"
            ]
        ],
        "l": false
    },
    {
        "id": "955df56fea433bed",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool 23",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "23",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 860,
        "wires": [
            [
                "c52c212728f90c0f"
            ]
        ]
    },
    {
        "id": "c6f342d885deb388",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool 22",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "22",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 900,
        "wires": [
            [
                "c52c212728f90c0f"
            ]
        ]
    },
    {
        "id": "2cd5f538d579a940",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "eleccost",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ultra High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mid",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Weekend",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Low",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Ultra Low",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1875,
        "y": 1020,
        "wires": [
            [
                "dbdc5ac7b9c4afd7"
            ],
            [
                "dbdc5ac7b9c4afd7"
            ],
            [
                "19233a517d62d3b7"
            ],
            [
                "19233a517d62d3b7"
            ],
            [
                "9d740fda0ee77206"
            ],
            [
                "9d740fda0ee77206"
            ]
        ],
        "l": false
    },
    {
        "id": "9d740fda0ee77206",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool 20",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "20",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 1060,
        "wires": [
            [
                "c7a75598cdbbdd83"
            ]
        ]
    },
    {
        "id": "c7a75598cdbbdd83",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "links": [
            "bdd38ddd84bb9505"
        ],
        "x": 2175,
        "y": 1020,
        "wires": []
    },
    {
        "id": "dbdc5ac7b9c4afd7",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "HeatCool 19/22.5",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat_cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp_low",
                "pt": "msg",
                "to": "19",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp_high",
                "pt": "msg",
                "to": "22.5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 980,
        "wires": [
            [
                "c7a75598cdbbdd83"
            ]
        ]
    },
    {
        "id": "19233a517d62d3b7",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "HeatCool 19/22",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat_cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp_low",
                "pt": "msg",
                "to": "19",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp_high",
                "pt": "msg",
                "to": "22",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 1020,
        "wires": [
            [
                "c7a75598cdbbdd83"
            ]
        ]
    },
    {
        "id": "c188832bfccd03c8",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "eleccost",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ultra High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mid",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Weekend",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Low",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Ultra Low",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1875,
        "y": 1140,
        "wires": [
            [
                "e984b591292d2b7d"
            ],
            [
                "e984b591292d2b7d"
            ],
            [
                "e984b591292d2b7d"
            ],
            [
                "e984b591292d2b7d"
            ],
            [
                "449729fac13e2477"
            ],
            [
                "449729fac13e2477"
            ]
        ],
        "l": false
    },
    {
        "id": "449729fac13e2477",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "HeatCool 19/22",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat_cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp_low",
                "pt": "msg",
                "to": "19",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp_high",
                "pt": "msg",
                "to": "22",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 1160,
        "wires": [
            [
                "26e18191886c2942"
            ]
        ]
    },
    {
        "id": "e984b591292d2b7d",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "HeatCool 20.5/23",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat_cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp_low",
                "pt": "msg",
                "to": "20.5",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp_high",
                "pt": "msg",
                "to": "23",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 1120,
        "wires": [
            [
                "26e18191886c2942"
            ]
        ]
    },
    {
        "id": "26e18191886c2942",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "Call Service",
        "links": [
            "bdd38ddd84bb9505"
        ],
        "x": 2175,
        "y": 1140,
        "wires": []
    },
    {
        "id": "09c2c547769c2b6c",
        "type": "server-state-changed",
        "z": "e2e746bc49fb34e0",
        "name": "Price Change",
        "server": "",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_select.electricity_price",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "f07e11acdad7571d"
            ]
        ]
    },
    {
        "id": "bbf8731734fc4424",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "eleccost",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ultra High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "High",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 335,
        "y": 700,
        "wires": [
            [
                "e91491e59c2587ce"
            ],
            [
                "e91491e59c2587ce"
            ],
            [
                "60e4e42af7394569"
            ]
        ],
        "l": false
    },
    {
        "id": "66c49c45c9694c14",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Electricity Price",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.electricity_price",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "eleccost",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "eleccostdata",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "bbf8731734fc4424"
            ]
        ]
    },
    {
        "id": "60e4e42af7394569",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Turn on dehumidifier",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.dehumidifier"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e91491e59c2587ce",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "Turn off dehumidifier",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.dehumidifier"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "1e0e24fd5603256f",
        "type": "link in",
        "z": "e2e746bc49fb34e0",
        "name": "DEHUMIDIFIER ON",
        "links": [
            "ae2976066b43fb5c"
        ],
        "x": 95,
        "y": 700,
        "wires": [
            [
                "66c49c45c9694c14"
            ]
        ]
    },
    {
        "id": "635bfe87f45ac12f",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "HVAC OFF",
        "mode": "link",
        "links": [
            "27d8ee1511f19371",
            "cb4756dfb08764e8"
        ],
        "x": 1915,
        "y": 720,
        "wires": []
    },
    {
        "id": "8866ebd1bc80dd34",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "HVAC OFF",
        "mode": "link",
        "links": [
            "27d8ee1511f19371",
            "cb4756dfb08764e8"
        ],
        "x": 1915,
        "y": 840,
        "wires": []
    },
    {
        "id": "f3fe39af6e6b7fd1",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Cool 23",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "23",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "9447acac4bcb60a7",
        "type": "change",
        "z": "e2e746bc49fb34e0",
        "name": "Heat 22",
        "rules": [
            {
                "t": "set",
                "p": "set_hvac_mode",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "set_temp",
                "pt": "msg",
                "to": "19",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "e03356df8a419478",
        "type": "api-current-state",
        "z": "e2e746bc49fb34e0",
        "name": "Electricity Price",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.electricity_price",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "eleccost",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "eleccostdata",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1060,
        "y": 1020,
        "wires": [
            [
                "4c795cdc0e592971",
                "084cdb667c008537"
            ]
        ]
    },
    {
        "id": "a70b3d39fdf9c105",
        "type": "switch",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "property": "eleccost",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ultra High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "High",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mid",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Weekend",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Low",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Ultra Low",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1885,
        "y": 640,
        "wires": [
            [
                "efe193cabac768cc"
            ],
            [
                "dc4708d62857683e"
            ],
            [
                "dc4708d62857683e"
            ],
            [
                "dc4708d62857683e"
            ],
            [
                "941b06e5efaf1860"
            ],
            [
                "941b06e5efaf1860"
            ]
        ],
        "l": false
    },
    {
        "id": "efe193cabac768cc",
        "type": "link out",
        "z": "e2e746bc49fb34e0",
        "name": "HVAC OFF",
        "mode": "link",
        "links": [
            "27d8ee1511f19371",
            "cb4756dfb08764e8"
        ],
        "x": 1945,
        "y": 580,
        "wires": []
    },
    {
        "id": "084cdb667c008537",
        "type": "api-call-service",
        "z": "e2e746bc49fb34e0",
        "name": "",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_fan_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.thermostat"
        ],
        "data": "{\"fan_mode\":\"on\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1080,
        "y": 880,
        "wires": [
            []
        ]
    }
]